{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Curso de IA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'style2.css' %}" rel="stylesheet">
</head>
<body>

    <header class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
                <img src="{% static 'img/logo2.png.png' %}" alt="NEXUS - CURSOS" width="210" height="210" class="me-2">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </header>

    <main class="container my-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 fw-bold mb-4">Git e GitHub</h1>
            </div>
            <div class="col-12">
                <div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kB5e-gTAl_s?si=nnkE7iQ-JKz79TK5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 mt-4">
                <p class="lead">
                    Leve sua carreira de desenvolvedor para o próximo nível. Aprenda Git e GitHub, o padrão da indústria para controle de versão, e torne-se indispensável em qualquer equipe de desenvolvimento. Construa um portfólio profissional, colabore de forma fluida e ganhe a confiança necessária para gerenciar qualquer projeto de código com maestria.
                </p>
                <a href="{% url 'home' %}" class="btn btn-primary mt-3">Voltar para a home</a>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-white-50 py-5">
        <div class="container d-flex justify-content-between align-items-center">
            </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>