/* Estilos em main/static/style.css */

body {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco para melhor contraste */
}

.container {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Sombra ao redor do container */
    padding: 20px; /* Adiciona um pouco de espaço interno */
    background-color: #222; /* Um tom de preto mais claro para o container */
    border-radius: 5px; /* Bordas arredondadas no container */
    margin-top: 20px; /* Espaçamento superior */
}

.btn-primary {
    transition: background-color 0.3s ease; /* Adiciona uma transição suave na cor de fundo */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor de fundo mais escura no hover (tom original do Bootstrap) */
}